html {
    /*    1em = 16px*/
    font-size: 1em;
}

body {
    background-color: #fff8ee;
    font-family: 'Roboto', sans-serif;
    /*    font-weight: 400;*/
    /*    line-height is 150% of the font size*/
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

div.top {
    background-color: #e3caab;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

div.descriptions {
    margin: 0, 1em, 0, 0;
}



img.header {
    margin: 0;
}

.home {
    padding-bottom: 5em;
}


.active {
    color: white;
}

/*Styling the social media icons */

.icons {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5em;

}

.social {
    font-size: 2em;
    color: darkgoldenrod;
}

.social:hover {
    color: darkgrey;
}

div.home {
    margin: 1.3em 7em .8em 7em;

}


p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /*    margin: 1.3em 7em .8em 7em;*/
    padding-bottom: 3em;
}

/*this is a group selection, selecting all the headlines h1-h4*/
h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 2em;
    line-height: 1.2;
    margin: 3em 0 1em 0;
}

h3.name {
    padding: 0 0 0 0;
    font-family: 'Roboto Slab', serif;
    color: white;
}

h3 {
    /*  top:1.414em right:0  bottom:0.5em left:0*/
    margin: .5em 0 .5em 0;
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;

}

h4 {
    /*  top:1.414em right:0  bottom:0.5em left:0*/
    margin: 1.414em 0 0.5em 0;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #937504;

}

nav .sociall {
    color: white;
}

.nav {
    padding: 0 10em 1em 10em;
}

small,
.font_small {
    font-size: 0.75em;
}


/* link*/

a {
    color: #0287b4;
}

a:hover {
    color: #ffffff;
    /*    text-decoration: none;
    */
}

.btton {
    padding-bottom: 1em;
}

/*button style*/
/*solid button style*/
.btn {
    font-size: 1rem;
    letter-spacing: .1em;
    line-height: 2em;
    border-radius: 3em;
    /*    top:1.8 right:3.6 bottom 1.8 left3.6*/
    /*    the size of button*/
    padding: .5em 1em;
    color: black;
    background: darkgoldenrod;
    border: none;
}

.btn:hover {
    color: white;
    background-color: black;
    opacity: 0.8;
}

/*outline button style*/
.btn-primary-outline {
    color: white;
    background-color: darkgoldenrod;
    border: 1px darkgoldenrod solid;
    transition: all 0.5s;
}

.btn-primary-outline:hover {
    color: white;
    background-color: darkgrey;
    border-color: darkgrey;
}
